<div>
  <h3>Users list:</h3>
  <ul class="list-group users">
        <li  class="list-group-item" *ngFor = "let user of users" [class.active]="currentUser == user"  (click)="select(user)"  >
             <jce-user [user] = user></jce-user>                     
        </li>
  </ul>
</div>